{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block title %}Редактировать пользователя{% endblock %}

{% block content %}
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center display-full-size">
            <div class="col-4">
                <div class="login-align">
                    <div class="card login-card">
                        <div class="row">
                            <div class="col-12">
                                <h5 class="change-title">Редактировать пользователя</h5>
                            </div>
                            <form action="{% url 'change' user.pk %}" method="post" enctype="multipart/form-data">
                                <div class="form square-inputs">
                                    {% csrf_token %}
                                    {% bootstrap_form form show_label=False %}
                                </div>
                                <div class="form_row">
                                    {% bootstrap_button button_type="submit" content='Редактировать' button_class="btn btn-primary login-register-button" %}
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}